h1{
    font-size : 30px;
    color : #330000;
    text-align: center;    
}

h2{
    font-size : 20px;
    color : #330000;
    text-align: center;    
}



table{
    border-collapse : collapse;
    background-color : #fff;
    box-shadow : 0 10px 20px 0 rgba(0,0,0,.03);
    border-radius : 10px;
    margin : auto;
}

th,td{
    border:1px solid #f2f2f2;
    padding : 8px 30px;
    text-align : center;
    color : grey;   
}

th{
    text-transform : uppercase;
    font-weight: 500;    
}

td{
    font-size : 14px;
}

.email-style{
    font-size: 14px;
    color: grey;
    display: inline-block;
    background : #f2f2f2;
    -webkit-border-radius : 2px;
    -moz-border-radius : 2px;
    border-radius: 2px;
    line-height: 30px;
    padding : 0 14px;
}

.post-class{
    text-transform: uppercase;
}

.fa{
    font-size : 20px;
}

.fa-edit{
    color: #63c76a;
}

.fa-trash{
    color:#ff0000;
}

a{
    text-decoration : none;
    display: flex;
    justify-content: center;
}